{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/login.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "profiling/css/index.css" %}" />
{% endblock %}

{% block title %}Password reset successful{% endblock %}

{% block bodyclass %}login{% endblock %}
{% block nav-global %}{% endblock %}
{% block content_title %}{% endblock %}
{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">

<h4>Set New Password</h4>

<form action="" method="post">
    {% csrf_token %}
    {% if validlink %}
        <p>Please enter your new password twice. So we can verify you typed it in correctly.</p>

        <div class="form-row">
            {{ form.new_password1.errors }}<br/>
            {{ form.new_password1 }}
        </div>

        <div class="form-row">
            {{ form.new_password2.errors }}<br/>
            {{ form.new_password2 }}
        </div>

    {% else %}
        <h4>Password reset unsuccessful</h4>
        <p>The password reset link was invalid,
           possibly because it has already been used.
           Please request a new password reset.</p><br/>
    {% endif %}

    <div class="submit-row">
        <button type="submit">Change my password</button>
    </div>
</form>

</div>
{% endblock %}
