{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/login.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "profiling/css/index.css" %}" />
{% endblock %}

{% block title %}Password reset successful{% endblock %}

{% block bodyclass %}login{% endblock %}
{% block nav-global %}{% endblock %}
{% block content_title %}{% endblock %}
{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">

<h4>Reset Password</h4>
<p>We've emailed you instructions for setting your password. You should be receiving them shortly.</p>
<p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>

<div class="submit-row">
    <a href="{% url 'index_page' %}" target="_parent"><button type="button">{% trans 'Login' %}</button></a>
</div>

</div>
{% endblock %}
