/* LOGIN FORM */

body.update {
    background: #eee;
}

.update #container {
    background: white;
    border: 1px solid #ccc;
    width: 50em;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.update #content-main {
    width: 100%;
}

.update form {
    margin-top: 1em;
}

.update .form-row {
    padding: 4px 0;
    float: left;
    width: 100%;
}

.update .form-row label {
    padding-right: 0.5em;
    line-height: 2em;
    font-size: 1em;
    clear: both;
    color: #333;
}

.update .form-row input,
.update .form-row select,
.update .form-row textarea {
    clear: both;
    padding: 6px;
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.update span.help {
    font-size: 10px;
    display: block;
}

.update .submit-row {
    clear: both;
    padding: 1em 0 0 0;
}

.update .password-reset-link {
    text-align: center;
}
